@import "reset";
@import "variables/global";

.body {
  font: var(--font-m);
  color: var(--black-purple);
}

.app,
.app_modal {
  font: var(--font-m);
  color: var(--black-purple);
}

.app {
  min-height: 100vh;
  position: relative;
}

.content-page {
  display: flex;
}

::-webkit-scrollbar { display: none; }