.SaleBlock {
  margin-bottom: 100px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.inner {
  padding: 40px 65px;
  background: var(--purple) url(https://live.verstaem.online/eatly/src/img/sale-bg.jpg
  ) top center no-repeat;
  background-size: cover;
  border-radius: 14px;
  position: relative;
}

.title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 70px;
  color: var(--border);
  margin: 0 0 20px;
  line-height: 1.15;
}

.form {
  display: inline-block;
  position: relative;
  border: none;
}

.inner::after {
  content: "";
  position: absolute;
  top: 30%;
  right: 5%;
  width: 274px;
  height: 276px;
  background: url(https://live.verstaem.online/eatly/src/img/food.png) top center no-repeat;
  background-size: cover;
}

.saleInput {
  width: 440px;
  height: 68px;
  background: var(--white);
  box-shadow: 0 7px 20px var(--grey);
  border-radius: 14px;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--grey);
  padding-left: 20px;
  border: none;
}

.sale {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.saleBtn {
  font-size: 15px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 15px 25px;
  border-radius: 11px;
}

