.Modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  color: var(--black-purple);
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  background: var(--white);
  position: relative;
  width: 90%;
  max-width: 1450px;
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}

.opened {
  pointer-events: auto;
  opacity: 1;
  z-index: var(--modal-z-index);

  .content {
    transform: translateY(0);
  }
}

.isClosing {
  .content {
    transform: translateY(-110%);
  }
}

.close {
  background-color: var(--purple);
  border: none;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 2;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;

  span {
    color: var(--white);
  }
}

@media screen and (min-width: 1000px) {
  .content {
    display: flex;
  }
}

@media screen and (max-width: 1000px) {
  .close {
    background-color: var(--white);

    span {
      color: var(--purple);
    }
  }
}


