.Modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  color: var(--black-purple);
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  background: var(--white);
  position: relative;
  display: flex;
  max-width: 1450px;
  margin: 25px auto;
  transform: translateY(-110%);
  transition: transform 0.3s ease;
}

.opened {
  pointer-events: auto;
  opacity: 1;
  z-index: var(--modal-z-index);

  .content {
    transform: translateY(0);
  }
}

.isClosing {
  .content {
    transform: translateY(-110%);
  }
}
