.reviewItem {
  max-width: 510px;
  border: 2px solid var(--border);
  border-radius: 20px;
  padding: 38px;
  position: relative;
  margin-right: 30px;
  transition: all .6s ease;
}

.reviewHeader {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 30px;
}

.reviewHeader::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 58px;
  height: 44px;
  transform: translateY(-50%);
  background: url(https://live.verstaem.online/eatly/src/img/decor/quotes.svg) top center no-repeat;
  background-size: cover;
}

.image {
  max-width: 100%;
  vertical-align: top;
}

.reviewInfo {
  margin-left: 10px;
}

.reviewText {
  font-style: italic;
  font-size: 18px;
  line-height: 1.4;
  color: var(--grey);
  margin-bottom: 40px;
}

.name {
  font-size: 21px;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 5px;
}

.slogan {
  font-size: 17px;
  color: var(--grey);
}

.icon {
  margin-right: 5px;
}

@media screen and (max-width: 760px) {
  .reviewItem {
    max-width: 100%;
    padding: 5px;
  }

  .reviewHeader::after {
    content: "";
    background: none;
  }
}