.reviewContainer {
  padding: 100px 15px 120px 15px;
  max-width: 1280px;
  margin: 0 auto;
}

.reviewTitle {
  margin-bottom: 80px;
  font-weight: 600;
  font-size: 45px;
  text-align: center;
  color: var(--black-purple);
  line-height: 1.15;

  span {
    color: var(--purple);
  }
}

.card {

}

@media screen and (max-width: 760px) {
  .reviewTitle {
    font-size: 35px;
  }
}

