.reviewContainer {
  padding: 100px 15px 120px 15px;
  max-width: 1280px;
  margin: 0 auto;
}

.reviewTitle {
  margin-bottom: 80px;
  font-weight: 600;
  font-size: 45px;
  text-align: center;
  color: var(--black-purple);
  line-height: 1.15;

  span {
    color: var(--purple);
  }
}

.reviewInner {
  position: relative;
}

.slides {
  overflow: hidden;
}

.track {
  display: flex;
  width: 300%;
}

.navigation {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 540px;
  right: 0;
  bottom: -7%;
  display: flex;
  flex-wrap: wrap;
}

.bar {
  width: 180px;
  height: 11px;
  border-radius: 50px;
  margin-right: -1px;
  background-color: var(--features-text);
  padding: 0;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease;
}

.active {
  background-color: var(--purple);
}

input[name="r"] {
  position: absolute;
  visibility: hidden;
}

#r1:checked ~ .s1 {
  margin-left: 0;
}

#r2:checked ~ .s1 {
  margin-left: -50%;
}

#r3:checked ~ .s1 {
  margin-left: 100%;
}
