.FeaturesSection {
  background: #6c5fbc;
  padding: 55px 0;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.featuresList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.decor {
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.featuresItem {
  flex: 0 1 33.33%;
  padding: 0 25px;
  text-align: center;
  border-right: 1px solid var(--light);
}

.featuresNum {
  color: #ffffff;
  font-weight: 700;
  font-size: 43px;
  margin-bottom: 10px;
}

.featuresText {
  font-size: 14px;
  color: var(--features-text);
}
