.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--light);
  margin-bottom: 50px;
}

.logo {
  display: flex;
  align-items: center;

  span {
    font-weight: 600;
    font-size: 21px;
    color: var(--purple);
    margin-left: 5px;
  }
}

.menu {
  display: flex;
}

.item {
  margin-right: 30px;

  a {
    font-size: 18px;
    color: var(--grey);
    transition: color 0.2s ease;
  }
}